img(src="/logo.png")
h1 Sysadvent 2013
  h2 Isn't 
    a(href="http://www.docker.io") Docker
    span  and 
    a(href="http://www.serfdom.io") Serf
    span  fun?
    p
      small Hosted with 
        a(href="https://github.com/octohost/octohost") octohost
